html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background: rgb(0, 0, 0);
    color: #ffffff;
}

body dialog{
    background: #fca311;
}

dialog nav #closeModel {
    color: red;
    font-size: 2vw;
    display: inline-flex;
    float: right;
    align-items: center;
    cursor: pointer;
}

dialog nav #modalTitle {
    display: inline-flex;
    text-decoration: overline underline #adbada;
}

#shows {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: min(100% - 50px, 1200px);
    margin-inline: auto;
    margin-top: 25px;
    margin-bottom: 100px;
}
#shows .show {
    position: relative;
    border-radius: 10px;
    width: 200px;
    flex-grow: 1;
    max-width: 250px;
    padding: 10px;
    background: rgb(232, 180, 114);
    color: #14213d;
}

#shows .show a{
    margin-bottom: 10px;
    font-size: large;
    color: #14213d;
    position: relative;
    top: 3px;
}

#shows .show h2 {
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: underline #14213d;
    max-width: 200px;
    text-align: center;
}
#shows .show .genres .genre {
    display: inline-flex;
    font-weight: bold;
    margin: auto;
    padding: 0.05rem;
}

#shows .show .genres .genre:not(:last-child)::after{
    content: "|";
    margin-left: 1px;
}
#shows .show .summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

input#submitbutton {
    border-radius: 4px;
    background-color: #14213d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 90px;
    cursor: pointer;
    margin: 2.5px;
}

input#query {
    background-color: #14213d;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    margin: 2.5px;
    color: white;
    transition: width 0.4s ease-in-out;
}

input#query:focus{
    width: 200px;
}